
<div id="home">

{{!-- NAV BAR --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"<h2>Mongo Scraper</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger clear">CLEAR ARTICLES</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">
  <img src="../public/styles/images/cup-of-coffee-and-newspaper-isolated-on-wood-background-2235.jpg" class="card-img" alt="coffee and newspaper">
  <div class="card-img-overlay">
    <h5 class="card-title">Mongo Scraper</h5>
    <p class="card-text">New York Times - World News Edition</p>
  </div>
</div>
</div>

<div class="message">
	<h2>{{message}}</h3>
</div>

{{!-- article container --}}
<div class="container-fluid article-container">
  {{#each articles}}
  <div class="card">
  <a href="#" class="btn btn-success save">SAVE ARTICLE</a>
  <div class="card-body">
  <div class="story-body" id={{this._id}}>
  <h2>
    <a href="{{this.link}}" target="_blank">{{this.title}}</a>
  </h2>
  <form action="/save/{{this._id}}" method="POST">
    <button type="submit" class="status" value="{{this.status}}">{{this.status}}</button>
    {{#unless this.note}}
    <button type="button" class="addnote-button" value="{{this._id}}">Add A Note</button>
    {{/unless}}
  </form>
  </h2>
  <summary>{{this.summary}}</summary>
  </div>
  {{/each}}
    
    
  </div>
</div>
</div>






{{!-- FOOTER --}}
<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>

</div>
<script src="../../assets/javascript/index.js"></script>